@use "../abstracts/mixins";
@use "../abstracts/colors";

.attribution {
    font-size: 11px;
    width: 100%;
    color: colors.$very-dark-mostly-black;
    position: absolute;
    left: 50%;
    top: 97%;
    transform: translateX(-50%);
    text-align: center;

    &__link {
        color: colors.$very-dark-mostly-black;
    }
    
    @include mixins.medium {
        font-size: 14px;
        top: 96%;
    }

    @include mixins.large {
        font-size: 16px;
    }
}