@use "../abstracts/mixins";
@use "../abstracts/colors";

.attribution {
    color: colors.$very-dark-mostly-black;
    position: absolute;
    left: 50%;
    top: 85%;
    transform: translateX(-50%);
    text-align: center;

    @include mixins.small { 
        font-size: 13px;
    }

    @include mixins.extra-small { 
        font-size: 10px;
        
    }

 



   
        
    
}