@use "../abstracts/colors";

.attribution {
    position: absolute;
    left: 50%;
    top: 85%;
    transform: translateX(-50%);
    text-align: center;

    &__text {
        color: colors.$very-dark-mostly-black;
    }

    &__link {
        color: colors.$very-dark-mostly-black;
    }
}