

$soft-red: hsl(345, 95%, 68%);
$grayish-blue: hsl(237, 18%, 59%);


$white: rgb(255, 255, 255);
$dark-desaturated-blue: hsl(236, 21%, 26%);
$very-dark-blue: hsl(235, 16%, 14%);
$very-dark-mostly-black: hsl(234, 17%, 12%)